.wrapper {
    padding: 20px;
    margin: 0 auto;
    width: 80%;
}

.row {
    margin-bottom: 20px;
}

.jumbotron {
    background-color: light;
}

.card-header {
    background-color: lightcyan;
}

form {
    margin: 10px;
}


/* Desktop Width at 980px and below */
@media screen and (max-width: 980px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

}

/* Tablet Width at 768px and below */
@media screen and (max-width: 768px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Phone Width at 640px and below */
@media screen and (max-width: 640px) {

    .wrapper,
    .form-control {
        width: 100%;
    }

    .wrapper {
        padding: 5px;
    }

    img {
        width: 100%;
        height: 100%;
    }

}