header {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.wrapper {
    padding: 20px;
    margin: 0 auto;
    width: 80%;
}

img {
    height: 200px;
}

.gifDiv:hover {
    opacity: 0.65;
    filter: alpha(opacity=65);
}

.gifDiv {
    float: left;
    padding: 5px;
}

.main {
    margin: 15px;
    padding: 5px;
    text-align: center;
}

form {
    margin: 10px;
    text-align: center;
}

.form-control {
    width: 300px;
    margin: 0 auto;
}

input {
    margin: 5px;
}

.gifButton {
    margin-right: 10px;
    margin-bottom: 5px;
}

/* Desktop Width at 980px and below */
@media screen and (max-width: 980px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

}

/* Tablet Width at 768px and below */
@media screen and (max-width: 768px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Phone Width at 640px and below */
@media screen and (max-width: 640px) {
    .wrapper,
    .form-control {
        width: 100%;
    }

    .wrapper {
        padding: 5px;
    }

    img {
        width: 100%;
        height: 100%;
    }

}